# Dart / pub
.dart_tool/
.packages
build/
pubspec.lock.bak

# Flutter
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/windows/flutter/ephemeral/
**/android/.gradle/
**/android/local.properties
**/android/key.properties
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Store
